DATABASE_URL="postgresql://jarvis_postgresql_dev_mjft_user:VSC9Q5AEj7r6XPHYS3Xq6ZUpVmEfsiA7@dpg-d0m876idbo4c73cjlq7g-a.oregon-postgres.render.com/jarvis_postgresql_dev_mjft"
# DATABASE_URL="postgresql://postgres:iHafw90jeUpbspngaW8Mufh4WVd7RT5f@0.0.0.0/jarvis_postgresql_local"
