# DATABASE_URL="postgresql://jarvis_postgresql_dev_user:iHafw90jeUpbspngaW8Mufh4WVd7RT5f@dpg-cv1mpvt6l47c73fh81qg-a.oregon-postgres.render.com/jarvis_postgresql_dev"
DATABASE_URL="postgresql://postgres:iHafw90jeUpbspngaW8Mufh4WVd7RT5f@0.0.0.0/jarvis_postgresql_local"